body{
    background: #98FB98;
}
aside{
    float: left;
    background: #32CD32;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: azure;
    border-right: 5px solid #66CDAA;
}
aside img{
    width: 60px;
    float: left;
}
aside .logo{
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
}
aside h3{
    margin-top: 50px;
    font-size: 30px;
}
aside ul{
    list-style: none;
}
aside ul li{
    color:azure ;
    display: block;
    margin-top: 20px;
    transition: all .6s ease;
}
aside ul li:hover, aside ul a:hover{
    color: #00008B;
    text-decoration: none;
    transform: scale(1.05);
}
main .features{
    float: left;
    color: azure;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}
main factorial h1 {font-size: 50px}
main factorial p {max-width: 400px; margin: 20px auto}

.alert-warning{
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: center;
}
form{
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}
