{% extends 'main/wer.html' %}
{% load static %}
{% block title %}О нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>О нас</h1>
        <p>Московский зоопарк вот уже много лет не покидает десятку лучших зоопарков мира. В Европе он считается старейшим, ведь основан был в 1864 г. под эгидой Императорского русского общества акклиматизации животных и растений. О былых временах напоминает Старая территория зоопарка, которая за 1,5 столетия значительно расширилась. Масштабные реконструкционные работы проводились в постсоветский период, и даже сейчас у администрации зреют грандиозные планы по дальнейшему расширению зоопарка. Сейчас он по своим размерам занимает 4-е место в стране, но не исключено, что с постройкой 5 новых объектов (аквариума, дельфинария, террариума, а также театра зверей и образовательного центра) в тройке лидеров произойдут изменения. У Московского зоопарка есть филиал под Великим Устюгом — «Зоосад в Вотчине Деда Мороза».</p>
        <img src="{% static 'main/img/depositphotos.jpg' %} " width="700px" height="600px" style="object-fit: cover;" class="" alt="Зоо"><br>

    </div>
{% endblock %}